<!-- <mat-toolbar macolor="warn" class="toolbarcli" >
  <span>Modal Cliente</span>
  <mat-icon (click)= "onClose()" >clear</mat-icon>
</mat-toolbar> -->

<div matDialogTitle  class="title-modal">
    <span >{{serviceFormBit.bit['id'].value?"Editar Bitacora":"Agregar Bitacora"}}</span>
    <button mat-button mat-dialog-close ><mat-icon color="warn" >clear</mat-icon></button>
  </div>
    <div class="row-pertenece">
      <strong>Cliente : Michael Jiron Ojeda</strong>
    </div>

  <form [formGroup]= "serviceFormBit.registerFormbit"  (ngSubmit)="onSubmit()" >
          <mat-dialog-content >
          <input type="hidden" formControlName="id">
          <input type="hidden" formControlName="pertenece">
          <mat-form-field>
            <input matInput [matDatepicker]="picker1" placeholder="fecha" formCotrolName="fecha" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1  disabled="false"></mat-datepicker>
            <mat-hint>{{serviceFormBit.bit.fecha.value}}</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input formControlName="fechaEfectiva" matInput placeholder="Fecha Efectiva*">
            <mat-error *ngIf="submitted && serviceFormBit.bit.fechaEfectiva.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.fechaEfectiva.errors.required">Fecha Efectiva is required</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="asunto" matInput placeholder="asunto*">
            <mat-error *ngIf="submitted && serviceFormBit.bit.asunto.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.asunto.errors.required">Asunto is required</mat-error>
                    <mat-error *ngIf= "serviceFormBit.bit.asunto.errors.maxlength">Minimum 50 charactors needed.</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="tipoContacto" matInput placeholder="Tipo Contacta">
           <mat-error *ngIf="submitted && serviceFormBit.bit.tipoContacto.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.tipoContacto.errors.required">Tipo Contacto is required</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="detalle" matInput placeholder="Detalle*">
            <mat-error *ngIf="submitted && serviceFormBit.bit.detalle.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.detalle.errors.required">Detalle is required</mat-error>
                    <mat-error *ngIf= "serviceFormBit.bit.detalle.errors.maxlength">Minimum 125 charactors needed.</mat-error>
            </mat-error>
          </mat-form-field>

      </mat-dialog-content>

        <mat-dialog-actions fxLayoutAlign="center end" >
          <div class="button-row" fxLayoutGap="5px">
            <button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Submit</button>
            <button mat-raised-button color="warn" (click)= "onClose()">Clear</button>
          </div>
        </mat-dialog-actions>

  </form>

