<!-- <mat-toolbar macolor="warn" class="toolbarcli" >
  <span>Modal Cliente</span>
  <mat-icon (click)= "onClose()" >clear</mat-icon>
</mat-toolbar> -->

<div matDialogTitle  class="title-modal">
    <span >{{serviceFormBit.bit['id'].value?"Editar Cliente":"Agregar Cliente"}}</span>
    <button mat-button mat-dialog-close ><mat-icon color="warn" >clear</mat-icon></button>
  </div>


  <form [formGroup]= "serviceFormBit.registerFormbit"  (ngSubmit)="onSubmit()" >
          <mat-dialog-content >
          <input type="hidden" formControlName="id">
          <mat-form-field>
            <input formControlName="fecha" matInput placeholder="fecha*">
            <mat-error *ngIf="submitted && serviceFormBit.bit.fecha.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.fecha.errors.required">codec is required</mat-error>
                    <mat-error *ngIf= "serviceFormBit.bit.fecha.errors.minlength">Minimum 3 charactors needed.</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="fechaEfectiva" matInput placeholder="Full Name*">
            <mat-error *ngIf="submitted && serviceFormBit.bit.fechaEfectiva.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.fechaEfectiva.errors.required">Name is required</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="asunto" matInput placeholder="asunto*">
            <mat-error *ngIf="submitted && serviceFormBit.bit.asunto.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.asunto.errors.required">Cedula is required</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="tipoContacto" matInput placeholder="Email">
           <mat-error *ngIf="submitted && serviceFormBit.bit.tipoContacto.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.tipoContacto.errors.required">Name is required</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="detalle" matInput placeholder="Mobile*">
            <mat-error *ngIf="submitted && serviceFormBit.bit.detalle.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.detalle.errors.required">detalle is required</mat-error>
                    <mat-error *ngIf= "serviceFormBit.bit.detalle.errors.minlength">Minimum 125 charactors needed.</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="city" matInput placeholder="City">
            <mat-error *ngIf="submitted && serviceFormBit.bit.city.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.city.errors.required">Name is required</mat-error>
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="departmentName" matInput placeholder="Department">
            <mat-error *ngIf="submitted && serviceFormBit.bit.departmentName.errors">
                    <mat-error *ngIf= "serviceFormBit.bit.departmentName.errors.required">Name is required</mat-error>
            </mat-error>
          </mat-form-field>

      </mat-dialog-content>

        <mat-dialog-actions fxLayoutAlign="center end" >
          <div class="button-row" fxLayoutGap="5px">
            <button mat-raised-button color="primary" type="submit"  cdkFocusInitial >Submit</button>
            <button mat-raised-button color="warn" (click)= "onClose()">Clear</button>
          </div>
        </mat-dialog-actions>

  </form>

