
 <div class="mat-elevation-z8 content-table client">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Mantenimiento de Clientes</span>
    </mat-toolbar-row>
</mat-toolbar>

  <div class="search-div ">
    <button mat-mini-fab color="accent" (click)="onCreate()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>


    <!-- filtrar por codigo del cliente -->
    <mat-form-field class="w-50" appearance="outline">
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl" >
      <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of filteredStates | async" [value]="state.codigo" (onSelectionChange)="selectionChange(state)">
            <span>{{state.codigo}}</span> |
            <small>nombre: {{state.fullName}}</small>

          </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="w-40">
      <input matInput placeholder="cliente (nombre)" disabled [value]="cliName">
    </mat-form-field>

    <mat-form-field class="w-40">
      <input matInput placeholder="usuario (nombre)" disabled [value]="userName">
    </mat-form-field>
    <!-- end filtro -->

  </div>

  <div class="table-client" >
    <mat-table [dataSource]="listData"  matSort>
        <ng-container class="" matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Fecha</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.fecha}}</mat-cell>
          </ng-container>
      <ng-container matColumnDef="fechaEfectiva">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>fechaEfectiva</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.fechaEfectiva}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="tipoContacto">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>Tipo Contacto</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.tipoContacto}}</mat-cell>
        </ng-container>
      <ng-container matColumnDef="asunto">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>asunto</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.asunto}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="detalle">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Detalle</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.detalle}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="actions-button">
              <button mat-icon-button  class="editar-row"  matTooltip="Editar" color="primary" (click)="onEdit(row)"><mat-icon>create</mat-icon></button>
              <button mat-icon-button  class="editar-row"  matTooltip="Eliminar" color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hidden':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hidden':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>

 </div>
