
 <div class="mat-elevation-z8 content-table client">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="capitalize" >{{modeCategoria}}</span>
    </mat-toolbar-row>
</mat-toolbar>

  <div class="search-div ">
    <div *ngIf="modeCategoria === 'subgrupos'">
        <mat-form-field appearance="outline" >
            <mat-label>Grupos</mat-label>
          <mat-select placeholder="Elegir Usuario" [formControl]="userControl" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let grupo of grupoList" [value]="grupo" >
              {{grupo.descripcion}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="userControl.hasError('required')">Please choose an user</mat-error>
          <mat-hint>{{userControl.value?.codigo}}</mat-hint>
          <!-- la opcion de arriba la puedo ocupara mostar el rol(read & write) -->
        </mat-form-field>
    </div>
    <button mat-mini-fab color="accent" (click)="onCreate()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field class="search-form-field" floatLabel="never">
      <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="table-client" >
    <mat-table [dataSource]="listData"  matSort>
        <ng-container class="" matColumnDef="codigo">
            <mat-header-cell *matHeaderCellDef  mat-sort-header>Codigo</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.codigo}}</mat-cell>
          </ng-container>
      <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Descripcion</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.descripcion}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fechaUpdate">
          <mat-header-cell *matHeaderCellDef  mat-sort-header>fechaUpdate</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.fechaUpdate}}</mat-cell>
        </ng-container>
      <ng-container matColumnDef="padreId">
        <mat-header-cell *matHeaderCellDef  mat-sort-header>Grupo</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.padreId}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
          <div class="actions-button">
              <button mat-icon-button  class="editar-row"  matTooltip="Editar" color="primary" (click)="onEdit(row)"><mat-icon>create</mat-icon></button>
              <button mat-icon-button  class="editar-row"  matTooltip="Eliminar" color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="loading">
        <mat-footer-cell *matFooterCellDef colspan="6">
          Loading data...
        </mat-footer-cell>
      </ng-container>
      <ng-container matColumnDef="noData">
        <mat-footer-cell *matFooterCellDef colspan="6">
          No data.
        </mat-footer-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hidden':listData!=null}"></mat-footer-row>
      <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hidden':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>

 </div>
