.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;
    .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            input:-webkit-autofill {
                --webkit-box-shadow: 0 0 0 30px white inset;
            }
        }
    }

    &:after {
        content: '';
        background: #fff;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 50%;
        right: 0;
    }
    &:before {
        content: '';
        background: #3f51b5;
        position: absolute;
        top: 50%;
        left: 0;
        bottom: 0;
        right: 0;
    }
}
.text-center {
    text-align: center;
}
.w-100 {
    width: 100%;
}

.w-50 {
  width: 50%;
}

.w-40 {
  width: 47%;
}

.child-primary{
  margin-right: 23px;
}

.create-account{

  padding: 20px 5px 10px 5px;

   a{
    text-decoration: none;
    color: #3f51b5;
  }
}

/* SignIn Dialog */


.sign-in-dialog {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: relative;

   .content {
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .app-name {
            margin-top: 0px;
            padding-bottom: 10px;
            font-size: 32px;
        }
        .login-form {
            padding: 40px;
            background: #fff;
            width: 500px;
            box-shadow: 0 0 10px #ddd;
            border-radius: 10px;
            input:-webkit-autofill {
                --webkit-box-shadow: 0 0 0 30px white inset;
            }
        }

        .signin-form {
            padding: 40px 10px;
        }
    }

}
