<div class="login-page">
  <div class="content">
      <!-- <h1 class="app-name">Sb Admin Material</h1> -->
      <form class="login-form" fxFlex  >
          <div class="text-center">
              <h2 class="app-name">AccountFast</h2>
          </div>
          <div fxFlex  fxlayout="row" fxlayout.lt-md="column">
              <div fxFlexFill>
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput [formControl]="emailv" placeholder="Enter your email" name="email" [(ngModel)]="email" required>
                      <mat-error *ngIf=" emailv.invalid ">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
              </div>
          </div>
          <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
              <div fxFlexFill>
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter your password" name="password" [(ngModel)]="password" required>
                      <mat-icon matSuffix (click)="hide = !hide" >{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </mat-form-field>
              </div>
          </div>
          <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0 30px 0">
              <div fxFlex>
                  <mat-checkbox color="primary">Remember Me</mat-checkbox>
              </div>
              <div fxFlex  fxLayoutAlign="end">
                  <a href="javascript:void(0)">Forget Password</a>
              </div>
          </div>
          <div fxFlex  fxLayout="row" fxLayout.lt-md="column">
              <div fxFlexFill fxLayoutAlign="center start">
                  <button mat-raised-button color="primary" class="w-50 col-mobi" (click)="onLoginEmailPass()" [disabled]="emailv.invalid" >Login</button>
              </div>
          </div>

          <div fxFlex  fxLayout="row" fxLayout.lt-md="column" style="margin: 20px 0px">
            <div fxFlexFill fxLayoutAlign="center start" >
              <button mat-raised-button color="warn" class="w-50 col-mobi align-content-center"  (click)="onLoginGoogle()"><img src="../assets/images/icons-svg/search.svg" class="img-google">Sign in with Google</button>

            </div>
          </div>

        <div fxFlex class= "create-account">
          <a  mat-button (click)="openDialog()">CREATE ACCOUNT</a>
        </div>

      </form>
  </div>
</div>
