html,
body {
    height: 100%;
    margin: 0;
    font-family: 'GoogleSans';
}

.main-container {

    left: 0px;
    padding: 30px;
    top: 0px;
    position: relative;
    .content-table {
          overflow: auto;
          border-radius: 10px;
    }
}

.mb-20 { margin-bottom: 20px;}
.capitalize {text-transform: capitalize; }

mat-sidenav-content.mat-drawer-content.mat-sidenav-content {
    background: #eeeeee;
        mat-card , mat-paginator {
      border-radius: 8px !important;
    }
    mat-card span.spacer {
      flex: 1 1 auto;
    }
    mat-card {
      max-width: 1000px;
      margin: 30px auto;

      mat-card-subtitle {
        margin: 12px 0 0 0 ;
      }
      mat-form-field.imput-head-search {
        margin: 0px;
        .mat-form-field-infix {
          padding: 0.5em 0 !important;
      }
    }
    .add-head-card {  margin-top: 2px; }
  }
}
