/* Structure */

.content.client{
  border-radius: 10px;
}

@media only screen and (max-width: 767px){

}

.mat-toolbar {
  border-radius: 10px 10px 0px 0px;
}

.search-div{
  padding: 10px 15px;
}

table {
  width: 100%;
}

/* .editar-row{
  display: none;
} */

.mat-row:hover, .mat-row:hover .editar-row{
  background: #f5f5f5;
  /* display: flex; */
}


.mat-form-field {
  font-size: 14px;
  width: 20%;
  padding: 10px 20px;
}

.mat-header-cell{
  color: blue;
}

div.button-client{
padding: 20px 30px;
width: 100%;
}

.hidden{
  display: none;
}

/* la tabla se vera mejor cuando el sidevar se oculte. */
